/* @import "tailwindcss";
@tailwind utilities; */
@reference "tailwindcss";
* {
    box-sizing: border-box;
}

body {
    --fontfamily: 'IBM Plex Sans', sans-serif;
}

/* .container{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (min-width: 640px) {
    .container{
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media (min-width: 768px) {
    .container{
        margin-left: 6rem;
        margin-right: 6rem;
    }
} */
.wrapper{
    @apply mx-8 sm:mx-16 md:mx-24;
}
.full{
    @apply -mx-8 sm:-mx-16 md:-mx-24;
}

a.active{
    font-weight: bold;
}

:root{
    --main-color : #1F75FE;

    --background: #FAFAFB;
    --white: #ffffff;
    --black: #000000;
    --description : #676D7B;
    --logo:  #002F7C;
    --border: #DFE1E5;
    /* //------------------------- */
    --progress :  #3B82F6;
    --completed : #10B981;
    --warning: #F97316;
    --error : #D74753;
    --solution: #22C55F;
    --report: #A856F7;
    /* //------------------------ */
    --primary-btn : #3B82F6;
    --primary-btn-hover : #5B9AFF;
    --secondary-btn: #F1F8FE;
    --secondary-btn-hover:   #FAFAFB; 
    /* //------------------------- */
    --bg-solution:#B9FFCD; 
    --bg-search:#C2DAFF;
    --bg-analyst:#E8D2FF; 
    --bg-report:#FFE0BA; 
    /* //-------------------------- */
    --political: #2980B9;
    --social: #2ECC71;
    --technology: #E74C3C;
    --environment: #27AE60;
    --legal : #8E44AD;
    --economy : #3B82F6;

}